.container {
  border: 5px solid rgba(150, 0, 38);
  height: 740px;
  text-align: center;
}

.container h1 {
  padding-bottom: 75px;
  text-decoration: curve;
}

.container h5 {
  font-size: 25px;
}
@media (max-width: 991px) {
  .container {
    height: 650px;
  }
}


@media (max-width: 767px) {
  .container {
    height: 600px;
  }
  .container h5 {
    font-size: 15px;
  }
}