body {
  padding: 15px;
  margin: 15px;
  background-color: rgba(223, 180, 200);
}

.container {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 50px;
  
}

img {
  width: 500px;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 15px;
}
@media (max-width: 991px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 20px;
  }

  .container img{
  width: 300px;
  }
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
}